body{
display: flex;
justify-content: center;
margin:0;
}
main{
width: 1366px;
background-color: gray;
display: flex;
flex-direction: column;
align-items: center;
}
header{
width: 1170px;
justify-content: space-between;
display: flex;
align-items: center;
margin-top: 12px;
margin-bottom: 12px;
}
nav{
width: 405px;
display: flex;
justify-content: space-between;
}
a{
font-size: 16px;
text-decoration: none;
color: #1A212F;
}
h2{
font-size: 36px;
margin-top: 140px;
margin-bottom: 70px;
}
section:nth-of-type(1){
width: 100%;
height: 504px;
background-color: lightgray;
display: flex;
align-items: center;
background-image: url("../resourses/Group_51.png");
}
section:nth-of-type(1) div{
width: 346px;
margin-left: 198px;
}
section:nth-of-type(1) h1{
font-size: 62px;
margin-bottom: 15px;
margin-top: 7px;
}
section:nth-of-type(1)>div>p:first-of-type{
font-size: 14px;
margin: 0;
}
section:nth-of-type(1)>div>p:last-of-type{
font-size: 20px;
}
.paw{
background-color: white;
border-radius: 25px;
border: none;
outline: none;
margin-top: 40px;
font-size: 20px;
align-items: center;
display: flex;
justify-content: flex-end;
width: 206px;
height: 50px;
}
.paw img{
margin-left: 30px;
}
section:nth-of-type(2){
width: 1170px;
background-color: palegreen;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
section:nth-of-type(2) div{
height: 321px;
width: 370px;
background-color: white;
margin-bottom: 20px;
}
section:nth-of-type(3){
width: 1030px;
height: 578px;
background-color: lightblue;
display: flex;
align-items: center;
}
.slide{
width: 1030px;
height: 404px;
background: orange;
display: flex;
align-items: center;
}
.slide>img{
	width: 600px;
	height: 404px;
}
.slide>div{
	width: 500px;
	height: 284px;
	margin-left: -70px;
	background-color: lightgrey;
	flex-direction: column;
	display: flex;
}
div.owl-carousel .owl-item img{
	width: 600px;
	height: 404px;
}
.owl-nav{
	position: absolute;
	top: 400px;
	left: 93%;
}
.owl-nav button:first-of-type{
	position: absolute;
	left: -20px;
}
.owl-nav button:last-of-type{
	position: absolute;
	left: 20px;
}
.owl-dots{
	position: absolute;
	top: 552px;
	z-index: 1;
	width: 48px;
	height: 24px;
}
li{
	font-size: 16px;
	line-height: 19px;
}
.paw2{
background-color: orange;
border-radius: 25px;
border: none;
outline: none;
margin-top: 40px;
font-size: 20px;
align-items: center;
display: flex;
justify-content: flex-end;
width: 206px;
height: 50px;
}