body{
	display: flex;
	justify-content: center;
}
.img{
	display: none;
}
.bamboo{
	display: none;
}
.width-site{
	width: 1152px;
	display: flex;
	justify-content: space-between;
}
.menu{
	background-color: gray;
	width: 224px;
}
.content{
	width: 880px;
}
.margin{
	background-color: black;
	width: 38px;
	margin-right: 12px;
}
.electric{
	margin-top: 22px;
	display: flex;
	justify-content: space-between;
	margin-left: 64px;
}
h1{
	font-size: 33px;
}
.electro{
	margin-top: -30px;
	width: 400px;
    line-height: 1.35;
}
select{
	width: 261px;
	height: 38px;
	margin-right: 0px;
	margin-top: 45px;
	border-radius: 4px;
	margin-left: 68px;
}
input[type=text]{
	width: 261px;
	height: 33px;
	margin-right: 0px;
	margin-top: 9px;
	border-radius: 4px;
	margin-left: 68px;
}
.button{
	width: 114px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
}
.buttons{
	display: flex;
	justify-content: space-between;
}
.prog{
	width: 114px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-left: 70px;
	margin-top: 16px;
}
.itog{
	font-size: 20px;
	margin-right: 164px;
}
.alum{
	margin-top: 104px;
	width: 800px;
	height: 300px;
	margin-left: 47px;
}
h2{
	margin-left: 46px;
	font-size: 33px;
	margin-top: 29px;
}
.goriz{
    margin-top: -22px;
	width: 400px;
    line-height: 1.35;
    margin-left: 46px;
}
.but{
	width: 143px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-top: 32px;
	margin-left: 100px;

}
.buts{
	width: 103px;
	height: 30px;
	border-radius: 5px;
	margin-top: 32px;
	margin-right: 48px;
	border-color: black;
}
#bamboo{
	margin-top: 104px;
	width: 900px;
	height: 300px;
}
h3{
	transform: rotate(270deg);
	font-size: 35px;
	margin-top: 17px;
	margin-left: 140px;
}
.vertical{
	display: flex;
	justify-content: space-between;
}
.vert{
	width: 350px;
	margin-left: -340px;
	margin-top: 117px;
	line-height: 1.35;
}
.verts{
	width: 350px;
	margin-left: -340px;
	margin-top: 20px;
	line-height: 1.35;
}
.ver{
	width: 340px;
	height: 530px;
	margin-right: 40px;
    margin-top: -30px;
}
.clas{
	width: 165px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-top: -60px;
}
.mult{
	margin-left: 540px;
	width: 130px;
	height: 30px;
	border-radius: 5px;
	border-color: black;
}
#multif{
	width: 340px;
	height: 500px;
	margin-right: 40px;
    margin-top: -30px;
}
#class{
	width: 340px;
	height: 485px;
	margin-right: 40px;
    margin-top: -15px;
}
.rulonie{
	display: flex;
	justify-content: space-between;
	margin-top: 113px;
}
.rulon{
	width: 253px;
	height: 298px;
	margin-left: 100px;
}
h4{
	margin-right: 200px;
	font-size: 33px;
	margin-top: -35px;
}
.rulo{
	margin-top: -38px;
	margin-left: 0px;
	width: 310px;
    line-height: 1.35;
}
.ruloni{
	margin-top: 15px;
	margin-left: 0px;
	width: 310px;
    line-height: 1.35;
}
.mini{
	margin-top: 37px;
	display: flex;
	margin-left: -14px;
}
.minik{
	border-radius: 4px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 55px;
}
.classik{
	border-radius: 5px;
	background-color: #FFAA00;
	border-radius: 5px;
	margin-left: 12px;
	height: 32px;
	width: 125px;
	margin-top: -32px;
}
.uni{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 45px;
	margin-left: 10px;
}
.zebra{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 65px;
	margin-left: 11px;
}
.uni-zeb{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 105px;
	margin-left: 11px;
}
.mini-zeb{
	border-radius: 5px;
	margin-left: 12px;
	height: 30px;
	border-color: black;
	width: 120px;
	margin-left: 11px;
	margin-top: -30px;
}
.plis{
    width: 120px;
    height: 260px;
    margin-top: 43px;
}
.ples{
	border:none;
	background-color: white;
}
#onclick{
	width: 318px;
	height: 260px;
	margin-top: 43px;
	margin-left: -1310px;
}
h5{
	transform: rotate(270deg);
	margin-left: 230px;
}
.plisses{
	display: flex;
	justify-content: space-between;
}