body{
	display: flex;
	justify-content: center;
}
.img{
	display: none;
}
.bamboo{
	display: none;
}
.width-site{
	width: 1152px;
	display: flex;
	justify-content: space-between;
}
.menu{
	background-color: gray;
	width: 224px;
}
.content{
	width: 880px;
}
.margin{
	background-color: black;
	width: 38px;
	margin-right: 12px;
}
.electric{
	margin-top: 22px;
	display: flex;
	justify-content: space-between;
	margin-left: 64px;
}
h1{
	font-size: 33px;
}
.electro{
	margin-top: -30px;
	width: 400px;
    line-height: 1.35;
}
select{
	width: 261px;
	height: 38px;
	margin-right: 0px;
	margin-top: 45px;
	border-radius: 4px;
	margin-left: 68px;
}
input[type=text]{
	width: 261px;
	height: 33px;
	margin-right: 0px;
	margin-top: 9px;
	border-radius: 4px;
	margin-left: 68px;
}
.button{
	width: 114px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
}
.buttons{
	display: flex;
	justify-content: space-between;
}
.prog{
	width: 114px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-left: 70px;
	margin-top: 16px;
}
.itog{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 10px
}
#result-multi{
	margin-right: 210px;
	margin-top: 25px;
}
.alum{
	margin-top: 104px;
	width: 800px;
	height: 300px;
	margin-left: 47px;
}
h2{
	margin-left: 46px;
	font-size: 33px;
	margin-top: 29px;
}
.goriz{
    margin-top: -22px;
	width: 400px;
    line-height: 1.35;
    margin-left: 46px;
}
.but{
	width: 143px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-top: 32px;
	margin-left: 100px;

}
.buts{
	width: 103px;
	height: 30px;
	border-radius: 5px;
	margin-top: 32px;
	margin-right: 48px;
	border-color: black;
}
#bamboo{
	margin-top: 104px;
	width: 900px;
	height: 300px;
}
h3{
	transform: rotate(270deg);
	font-size: 35px;
	margin-top: 17px;
	margin-left: 140px;
}
.vertical{
	display: flex;
	justify-content: space-between;
}
.vert{
	width: 350px;
	margin-left: -340px;
	margin-top: 117px;
	line-height: 1.35;
}
.verts{
	width: 350px;
	margin-left: -340px;
	margin-top: 20px;
	line-height: 1.35;
}
.ver{
	width: 340px;
	height: 530px;
	margin-right: 40px;
    margin-top: -30px;
}
.clas{
	width: 165px;
	height: 30px;
	border-radius: 5px;
	background-color:  #FFAA00;
	margin-top: -60px;
}
.mult{
	margin-left: 540px;
	width: 130px;
	height: 30px;
	border-radius: 5px;
	border-color: black;
}
#multif{
	width: 340px;
	height: 500px;
	margin-right: 40px;
    margin-top: -30px;
}
#class{
	width: 340px;
	height: 485px;
	margin-right: 40px;
    margin-top: -15px;
}
.rulonie{
	display: flex;
	justify-content: space-between;
	margin-top: 113px;
}
.rulon{
	width: 253px;
	height: 298px;
	margin-left: 100px;
}
h4{
	margin-right: 200px;
	font-size: 33px;
	margin-top: -35px;
}
.rulo{
	margin-top: -38px;
	margin-left: 0px;
	width: 310px;
    line-height: 1.35;
}
.ruloni{
	margin-top: 15px;
	margin-left: 0px;
	width: 310px;
    line-height: 1.35;
}
.mini{
	margin-top: 37px;
	display: flex;
	margin-left: -14px;
}
.minik{
	border-radius: 4px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 55px;
}
.classik{
	border-radius: 5px;
	background-color: #FFAA00;
	border-radius: 5px;
	margin-left: 12px;
	height: 32px;
	width: 125px;
	margin-top: -32px;
}
.uni{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 45px;
	margin-left: 10px;
}
.zebra{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 65px;
	margin-left: 11px;
}
.uni-zeb{
	border-radius: 5px;
	margin-left: 12px;
	height: 28px;
	border-color: black;
	width: 105px;
	margin-left: 11px;
}
.mini-zeb{
	border-radius: 5px;
	margin-left: 12px;
	height: 30px;
	border-color: black;
	width: 120px;
	margin-left: 11px;
	margin-top: -30px;
}
h5{
	transform: rotate(270deg);
	position: absolute;
	margin-top: 150px;
	margin-left: 10px;
	letter-spacing: 10px;
}
.plisses{
	margin-top: 100px;
	display: flex;
	justify-content: flex-end;
	width: 440px;
	height: 300px;
}
#click, #onclick{
	position: relative;
	border:none;
	background: none;
	outline: none;
}
#click, #onclick img{
	width: 100%;
}
#click img{
	height: 100%;
}
#onclick img{
	height: 100%;
}
.block{
	display: flex;
	justify-content: space-between;
}
.pov{
	width: 440px;
}
p.eye{
	width: 360px;
	margin-top: 197px;
	margin-left: 80px;
	line-height: 1.35;
}
.moskitnaya{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
}
.gorizs{
	margin-top: -22px;
	width: 350px;
    line-height: 1.35;
    margin-left: 46px;
}
.moskit{
	width: 400px;
	height: 400px;
	margin-left: 20px;
}
.mos{
	margin-top: 85px;
}
h6{
	font-size: 30px;
	margin-top: 150px;
	margin-left: 200px;
}
.shtori{
	background-color: lightgray;
	height: 400px;
	width: 100%
}
.sbz{
	font-size: 30px;
	margin-top: 50px;
	margin-left: 300px;
}
.input{
	width: 200px;
    margin-left: 150px;
}
input[type=email]{
	border-radius: 4px;
	border-color: black;
	width: 200px;
	border-width: 1px;
	height: 20px;
}
textarea{
	border-radius: 4px;
	border-color: black;
	width: 197px;
	height: 100px;
}
input[type=submit]{
	border-radius: 5px;
	background-color: #FFAA00; 
	width: 90px;
	height: 30px;
	outline: none;
}
.tels{
	display: flex;
	justify-content: space-between;
}
.tel1{
	font-size: 30px;
	color: black;
}
.tel2{
	font-size: 30px;
	color: black;
}
.tel{
	width: 250px;
	margin-right: 100px;
	margin-top: 10px;
	line-height: 40px;
}
footer{
	background-color: black;
}
.footer{
	width: 220px;
	margin-left: 20px;
}
.zal{
    color: #FFAA00; 
    font-size: 18px;
}
.fot{
	display: flex;
	justify-content: space-between;
}
.ob{
	width: 220px;
	margin-left: -100px;
}
.oboi{
	 color: #FFAA00; 
    font-size: 18px;
}
.texp{
	width: 120px;
	margin-left: -100px;
}
h1.tex{
	color: #FFAA00;
	font-size: 18px;
	width: 220px;
}
.int{
	width: 220px;
}
.inter{
	color: #FFAA00;
	font-size: 18px;
}
.outline{

	color: white;
	outline: none;
	text-decoration: none;
}
.outlines{
	font-size: 35px;
	color: white;
	outline: none;
	text-decoration: none;
	margin-left: 10px;
}
.slider{
	position: absolute;
	width: 400px;
	margin-left: 56px;
}
.slider-hide{
	margin-top: -255px;
}
