header{
	position: absolute;
    width: 1920px;
    height: 220px;
    left: 0px;
    top: 0px;    
}
.vibor{
	width: 314px;
    height: 16px;
    left: 370px;
    top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    outline: none;
}